.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 30px 68px;

  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  line-height: 1;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color-btn;

  background-color: $bg-color-btn;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;

  transition: all 0.3s ease 0s;

  @media #{$d-mobile} {
    padding: 20px 40px;
  }

  &:hover,
  &:focus {
    color: $font-color-btn--hover;

    background-color: $bg-color-btn--hover;
  }

  &:active {
    color: $font-color-btn--active;

    background-color: $bg-color-btn--active;
  }

  //.btn--wide
  &--wide {
    width: 100%;
  }

  //.btn--center
  &--center {
    display: flex;
    margin: 0 auto;
  }

  //.btn--round
  &--round {
    padding: 16px 30px;
    border-radius: 24px;
  }

  //.btn--warning
  &--warning {
    background-color: $color-warning;

    &:hover,
    &:focus {
      color: $font-color-btn;

      background-color: darken($color-warning, 10%);
    }

    &:active {
      color: $font-color-btn--active;

      background-color: rgba($color-warning, 0.6);
    }
  }
}
