.header {
  $header-height: 80px;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $color-dark-4;

  z-index: 2;

  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  &__social-list {
    @media #{$d-mobile} {
      display: none;
    }
  }

  &__logo {
  }

  &__mmt {
  }
}
