.header {
  $header-height: 80px;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  &::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;
    width: 100vw;
    height: $header-height;

    background-color: $color-dark-4;

    z-index: 5;
  }

  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;
  }

  &__social-list {
    z-index: 10;
  }

  &__logo {
    z-index: 10;
  }

  &__mmt {
  }
}
