.navigation {
  $header-height: 122px;
  $mob-mozilla: 45px; //mobile mozilla bug with bottom navbar

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 100vw;

  background-color: $color-dark-4;
  color: $color-light-1;
  z-index: 2;
  transform: translate(-50%, -100vh);

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    max-height: calc(100vh - #{$header-height} - #{$mob-mozilla});
    overflow-y: auto;
  }

  &__item {
    padding: 0.5em;
  }

  &__link {
    display: block;

    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;

    transition: text-decoration 0.3s ease 0s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.active {
    transform: translate(-50%, 100%);
  }
}
