.navigation {
  $header-height: 80px;
  $mob-mozilla: 45px; //mobile mozilla bug with bottom navbar

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;

  width: 100vw;

  color: $color-light-1;

  background-color: $color-dark-4;
  visibility: hidden;

  transform: translate(100%, 100%);

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    max-height: calc(100vh - #{$header-height} - #{$mob-mozilla});
    padding-bottom: 0.5em;
    overflow-y: auto;
  }

  &__item {
    padding: 0.5em;
  }

  &__link {
    display: block;

    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;

    transition: text-decoration 0.3s ease 0s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.active {
    visibility: visible;

    transform: translate(0, 100%);
  }
}
