.photos {
  // .photos__container
  &__container {
    padding-top: 150px;

    @media #{$d-laptop} {
      padding-top: 40px;
    }
  }
  // .photos__heading
  &__heading {
    margin: 0 auto;
    margin-bottom: 96px;
    text-align: center;

    @media #{$d-laptop} {
      margin-bottom: 40px;
    }
  }
  // .photos__slider
  &__slider {
    width: 100%;
  }
}
