.slider-big {
  padding: 60px 0;

  @media #{$d-mobile} {
    padding: 0;
  }

  //.slider-big__slide
  &__slide {
    position: relative;

    width: 46%;
    height: 670px;
    min-width: 767px;

    overflow: hidden;
    border-radius: 8px;

    transition: transform 0.3s ease 0s;

    @media #{$d-laptop} {
      height: 400px;
      min-width: 80%;
    }

    @media #{$d-mobile} {
      min-width: 90%;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;

      background-image: $alt-gradient;
      opacity: 0;

      transition: opacity 0.3s ease 0s;
    }

    &.swiper-slide-active {
      transform: scale(1.15);

      @media #{$d-mobile} {
        transform: scale(1);
      }

      &::before {
        opacity: 1;
      }

      .slider-big__title {
        transform: translateY(0);
      }
    }
  }

  //.slider-big__img
  &__img {
    width: 100%;
    height: 100%;
  }

  //.slider-big__title
  &__title {
    position: absolute;
    bottom: 0;

    padding: 0 40px 40px;

    font-size: $font-size-big;
    color: $color-light-1;

    transform: translateY(100%);
    transition: transform 0.3s ease 0s;
  }
}
