.slider-promo {
  // .slider-promo__slide
  &__slide {
  }
  // .slider-promo__img
  &__img {
    width: 100%;
  }
  // .slider-promo__desctription
  &__desctription {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 0 120px;

    color: $color-light-1;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    text-align: center;

    background-color: $color-accent-1;

    @media #{$d-laptop} {
      height: 75px;
      padding: 0 75px;
    }

    @media #{$d-mobile} {
      padding: 0 50px;
    }
  }
  // .slider-promo__button-prev
  &__button-prev,
  &__button-next {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;

    line-height: 1;

    z-index: 5;
    transition: background-color 0.3s ease 0s;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken($color-accent-1, 10%);
    }

    @media #{$d-laptop} {
      height: 75px;
      width: 75px;
    }

    @media #{$d-mobile} {
      width: 50px;
    }
  }
  // .slider-promo__button-prev
  &__button-prev {
    left: 0;
  }
  // .slider-promo__button-next
  &__button-next {
    right: 0;
  }
}
