.stories {
  position: relative;

  min-height: 100vh;

  background-image: $alt-gradient, url(../../img/backgrounds/featured.jpg);
  background-size: 50%, cover;

  //.stories__container
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    @media #{$d-laptop} {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding-top: 40px;
    }
  }

  //.stories__wrapper
  &__wrapper {
    width: 60%;
    max-width: 634px;
    margin-bottom: 100px;

    @media #{$d-laptop} {
      width: 100%;
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  //.stories__featured
  &__featured-btn {
    margin-bottom: 16px;
  }

  //.stories__title
  &__title {
    margin-bottom: 20px;
  }

  //.stories__description
  &__description {
    margin-bottom: 40px;

    color: $color-light-1;
  }

  //.stories__featured
  &__featured {
    position: relative;
    right: 0;

    width: 40%;

    transform: translateX(calc((100vw - 100% * 2.5) / 2));

    @media #{$d-laptop} {
      left: 50%;

      width: 100vw;

      transform: translateX(-50%);
    }
  }
}
