.subscribe {
  //.subscribe__title
  &__title {
  }

  //.subscribe__input
  &__input {
    width: 100%;
    margin-bottom: 16px;
    padding: 20px 60px 20px 30px;

    background-image: url(../../img/backgrounds/user.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid $border-color;
    border-radius: 8px;

    @media #{$d-mobile} {
      padding: 15px 60px 15px 20px;
    }
  }
}
