$color-light-1: #fff;
$color-dark-1: #000;
$color-dark-2: #788692;
$color-dark-3: #1c2e3d;
$color-dark-3: rgba(#151c24, 0.6);
$color-accent-1: #73afba;
$color-warning: #e8594e;

$font-color-base: $color-dark-2;
$font-color-title: $color-dark-3;
$font-color-link: $color-dark-2;
$font-color-link--hover: rgba($color-dark-2, 0.6);
$font-color-link--active: rgba($color-dark-2, 0.3);
$font-color-btn: $color-light-1;
$font-color-btn--hover: $color-light-1;
$font-color-btn--active: rgba($color-light-1, 0.3);

$bg-color-base: $color-light-1;
$bg-color-btn: $color-warning;
$bg-color-btn--hover: darken($color-warning, 20%);
$bg-color-btn--active: rgba($color-warning, 0.3);

$icon-color: $color-dark-3;
$icon-color--hover: rgba($color-dark-3, 0.6);
$icon-color--active: rgba($color-dark-3, 0.3);

$border-color: $color-dark-2;

$font-base: 'Open Sans', sans-serif;
$font-accent: 'Roboto', sans-serif;

$font-size-base: 16px;
$font-size-small: 0.8rem;
$font-size-big: 2rem;
$font-size-title: 4rem;

$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

$container-width: 1570px;
$container-padding: 30px;

//breakpoint
$bp-mob: 320px;
$bp-mob-large: 480px;
$bp-tab: 768px;
$bp-lap: 800px;
$bp-des: 1250px;

//mobile-first media query
$mobile: (
  min-width: $bp-mob,
);
$mobile-l: (
  min-width: $bp-mob-large,
);
$tablet: (
  min-width: $bp-tab,
);
$laptop: (
  min-width: $bp-lap,
);
$desktop: (
  min-width: $bp-des,
);

//desktop-first media query
$d-mobile: (
  max-width: $bp-mob-large,
);
$d-mobile-l: (
  max-width: $bp-tab,
);
$d-tablet: (
  max-width: $bp-lap,
);
$d-laptop: (
  max-width: $bp-des,
);

$base-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.0001) 50%,
  rgba(0, 0, 0, 0.461617) 100%
); //inspiration overlay

$alt-gradient: linear-gradient(
  180deg,
  rgba(28, 46, 59, 0.0001) 0%,
  #091117 100%
); // featured stories overlay
