.mobile-menu-toggler {
  $mmt-color: $icon-color;
  $mmt-size: 40px;

  position: relative;

  display: block;
  width: $mmt-size;
  height: $mmt-size;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $icon-color--hover;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: $mmt-size * 0.04;
    background-color: $mmt-color;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: $mmt-size * 0.4;
  }

  &::after {
    bottom: $mmt-size * 0.4;
  }

  &.active {
  }

  &.active::before {
    top: $mmt-size * 0.5 - $mmt-size * 0.02;
    transform: rotate(45deg);
  }

  &.active::after {
    bottom: $mmt-size * 0.5 - $mmt-size * 0.02;
    transform: rotate(-45deg);
  }
}
